<?xml version="1.0" ?>
<model>
    <name>arlo_mejorado_precision_llantas</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Antonio</name>
        <email>tonio.jaimes@gmail.com</email>
    </author>
    <description>arlo_mejorado_precision_llantas</description>
</model>
